<ion-view ng-form="formNota">
  
  <ion-nav-buttons side="right">
    <div class="buttons">
          <a class="button button-clear button-dark button-small" ng-disabled="formNota.$invalid" ng-click="salvar()">
            <i class="icon ion-checkmark-round custom-icon"> Salvar</i>
          </a>
     </div>
  </ion-nav-buttons>

   <div class="bar bar-subheader">
      <div class="button-bar">
          <div ng-If="nota.tipo == 'privada'">
              <a class="button ion-locked button-clear button-dark button-small" ng-click="mudaTipo('publica')"> Nota Privada</a>
          </div>
          <div ng-If="nota.tipo == 'publica'">
            <a class="button ion-unlocked button-clear button-dark button-small" ng-click="mudaTipo('privada')"> Nota Publica</a>
          </div>
          <a class="button button-clear ion-trash-a button-dark button-small" ng-If="nota.id != null" ng-click="showConfirm()"> Deletar</a>
          <a class="button button-clear ion-navicon-round button-dark button-small" ng-click="popover.show($event)"> {{nota.status}}</a>
      </div>
   </div>
     <span class="help-block" ng-show="titulo.$valid">rr</span>
    <ion-content padding="true" class="topNota">
        <div class="listNota">
          <label class="item item-input noteTitulo">
              <input type="text" placeholder="Titulo" ng-model="nota.titulo" required>
          </label>
          <hr>
        </div>
        <textarea placeholder="Conteúdo da Nota" ng-model="nota.texto" class="noteArea" id="comment-textarea" required>
        </textarea>
    </ion-content>
</ion-view>
